@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, right bottom, from(#eecda3), to(#ef629f)) no-repeat;
  background: linear-gradient(to right bottom, #eecda3, #ef629f) no-repeat;
  display: -ms-grid;
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: "Sedgwick Ave", cursive;
}

html {
  font-size: 62.5%;
}

section {
  text-align: center;
}

section > * {
  color: transparent;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

section h1 {
  font-size: 4rem;
  padding-bottom: 2rem;
  -webkit-animation: left-to-right 1.5s;
          animation: left-to-right 1.5s;
  background: -webkit-gradient(linear, left top, right top, from(#6a3093), to(#a044ff));
  background: linear-gradient(to right, #6a3093, #a044ff);
  -webkit-background-clip: text;
}

@media only screen and (max-width: 22.7em) {
  section h1 {
    font-size: 3.5rem;
  }
}

section h2 {
  font-size: 4.5rem;
  font-family: "HomaRegular";
  background: -webkit-gradient(linear, left top, right top, from(#005c97), to(#363795));
  background: linear-gradient(to right, #005c97, #363795);
  -webkit-background-clip: text;
  -webkit-animation: right-to-left 1.5s;
          animation: right-to-left 1.5s;
  -webkit-animation: cl 5s infinite;
          animation: cl 5s infinite;
}

@media only screen and (max-width: 22.7em) {
  section h2 {
    font-size: 3.5rem;
  }
}

p {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: cursive;
}

@-webkit-keyframes right-to-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(4rem);
            transform: translateX(4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes right-to-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(4rem);
            transform: translateX(4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes left-to-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes left-to-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-4rem);
            transform: translateX(-4rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.img {
  overflow: hidden;
  width: 40rem;
  border-radius: 2rem;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.15);
}

@-webkit-keyframes color {
  25% {
    background: -webkit-gradient(linear, left top, right top, from(#005c97), to(#363795));
    background: linear-gradient(to right, #005c97, #363795);
    -webkit-background-clip: text;
  }
  50% {
    background: -webkit-gradient(linear, left top, right top, from(#0cebeb), color-stop(#20e3b2), to(#29ffc6));
    background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
    -webkit-background-clip: text;
  }
  75% {
    background: -webkit-gradient(linear, left top, right top, from(#06beb6), to(#48b1bf));
    background: linear-gradient(to right, #06beb6, #48b1bf);
    -webkit-background-clip: text;
  }
  100% {
    background: -webkit-gradient(linear, left top, right top, from(#642b73), to(#c6426e));
    background: linear-gradient(to right, #642b73, #c6426e);
    -webkit-background-clip: text;
  }
}

@keyframes color {
  25% {
    background: -webkit-gradient(linear, left top, right top, from(#005c97), to(#363795));
    background: linear-gradient(to right, #005c97, #363795);
    -webkit-background-clip: text;
  }
  50% {
    background: -webkit-gradient(linear, left top, right top, from(#0cebeb), color-stop(#20e3b2), to(#29ffc6));
    background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
    -webkit-background-clip: text;
  }
  75% {
    background: -webkit-gradient(linear, left top, right top, from(#06beb6), to(#48b1bf));
    background: linear-gradient(to right, #06beb6, #48b1bf);
    -webkit-background-clip: text;
  }
  100% {
    background: -webkit-gradient(linear, left top, right top, from(#642b73), to(#c6426e));
    background: linear-gradient(to right, #642b73, #c6426e);
    -webkit-background-clip: text;
  }
}

@-webkit-keyframes cl {
  0% {
    color: blue;
  }
  10% {
    color: #8e44ad;
  }
  20% {
    color: #1abc9c;
  }
  30% {
    color: #d35400;
  }
  40% {
    color: blue;
  }
  50% {
    color: #34495e;
  }
  60% {
    color: blue;
  }
  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }
  90% {
    color: #2980b9;
  }
  100% {
    color: pink;
  }
}
/*# sourceMappingURL=style.css.map */