* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap");
body {
  background: linear-gradient(to right bottom, #eecda3, #ef629f) no-repeat;
  display: grid;
  place-items: center;
  min-height: 100vh;
  font-family: "Sedgwick Ave", cursive;
}
html {
  font-size: 62.5%;
}

section {
  text-align: center;

  & > * {
    color: transparent;
    backface-visibility: hidden;
  }
  h1 {
    font-size: 4rem;
    padding-bottom: 2rem;
    animation: left-to-right 1.5s;
    background: linear-gradient(to right, #6a3093, #a044ff);
    -webkit-background-clip: text;
    @media only screen and (max-width: 22.7em) {
      font-size: 3.5rem;
    }
  }
  h2 {
    font-size: 4.5rem;
    font-family: "HomaRegular";
    background: linear-gradient(to right, #005c97, #363795);
    -webkit-background-clip: text;
    animation: right-to-left 1.5s;
    animation: cl 5s infinite;
    @media only screen and (max-width: 22.7em) {
      font-size: 3.5rem;
    }
  }
}
p {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: cursive;
}
@keyframes right-to-left {
  0% {
    opacity: 0;
    transform: translateX(4rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes left-to-right {
  0% {
    opacity: 0;
    transform: translateX(-4rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.img {
  overflow: hidden;
  width: 40rem;
  border-radius: 2rem;
  transform: rotate(90deg);
  box-shadow: 0 2rem 4rem rgba(black, 0.15);
}
@keyframes color {
  25% {
    background: linear-gradient(to right, #005c97, #363795);
    -webkit-background-clip: text;
  }
  50% {
    background: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);
    -webkit-background-clip: text;
  }
  75% {
    background: linear-gradient(to right, #06beb6, #48b1bf);
    -webkit-background-clip: text;
  }
  100% {
    background: linear-gradient(to right, #642b73, #c6426e);
    -webkit-background-clip: text;
  }
}
@-webkit-keyframes cl {
  0% {
    color: blue;
  }
  10% {
    color: #8e44ad;
  }
  20% {
    color: #1abc9c;
  }
  30% {
    color: #d35400;
  }
  40% {
    color: blue;
  }
  50% {
    color: #34495e;
  }
  60% {
    color: blue;
  }
  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }
  90% {
    color: #2980b9;
  }
  100% {
    color: pink;
  }
}
